.InputPassword_container{
    position: relative;
}
.InputPassword {
    width: 310px;
    height: 50px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    background-color: #F7F7F8;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

